<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Vagas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vagas</ion-title>
    </ion-toolbar>
  </ion-header>
  <p style="display: flex; justify-content: center; padding-top: 50px; align-content: center; font-size: large; font-weight: bold">
    Não há vagas no momento, entraremos em contato assim que possivel...
  </p>
</ion-content>
