<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar.png" />
      </ion-avatar>
      <h2 style="padding: 8px">Lorison Gilles</h2>
      <p class="ion-padding">November 11, 2011</p>
    </ion-item>

    <img src="assets/img/aeronaut.jpg" />

    <ion-card-content>
      <p>
        Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is
        heavy.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col size="4">
        <button style="background-color: transparent" ion-button clear small icon-start>
          <ion-icon color="primary" name="thumbs-up"></ion-icon>
          12 Likes
        </button>
      </ion-col>
      <ion-col size="5">
        <button style="background-color: transparent" ion-button clear small icon-start>
          <ion-icon color="primary" name="chatbubble"></ion-icon>
          4 Comments
        </button>
      </ion-col>
      <ion-col size="3" align-self-center text-center>
        <ion-note> 11h ago </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar-yoda.png" />
      </ion-avatar>
      <h2 style="padding: 8px">Mr. Yoda</h2>
      <p class="ion-padding">May 12, 1984</p>
    </ion-item>

    <img src="assets/img/advance-card-tmntr.jpg" />

    <ion-card-content>
      <p>
        I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value of human life, maybe we can
        too.
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col size="4">
        <button style="background-color: transparent" ion-button clear small icon-start>
          <ion-icon color="primary" name="thumbs-up"></ion-icon>
          30 Likes
        </button>
      </ion-col>
      <ion-col size="5">
        <button style="background-color: transparent" ion-button clear small icon-start>
          <ion-icon color="primary" name="chatbubble"></ion-icon>
          64 Comments
        </button>
      </ion-col>
      <ion-col size="3" align-self-center text-center>
        <ion-note> 30yr ago </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar-ts-buzz.png" />
      </ion-avatar>
      <h2 style="padding: 8px">Dr. Buzz</h2>
      <p class="ion-padding">June 28, 1990</p>
    </ion-item>

    <img src="assets/img/advance-card-jp.jpg" />

    <ion-card-content>
      <p>Your scientists were so preoccupied with whether or not they could, that they didn't stop to think if they should.</p>
    </ion-card-content>

    <ion-row>
      <ion-col size="4">
        <button style="background-color: transparent" ion-button clear small icon-start>
          <ion-icon color="primary" name="thumbs-up"></ion-icon>
          46 Likes
        </button>
      </ion-col>
      <ion-col size="5">
        <button style="background-color: transparent" ion-button clear small icon-start>
          <ion-icon color="primary" name="chatbubble"></ion-icon>
          66 Comments
        </button>
      </ion-col>
      <ion-col size="3" align-self-center text-center>
        <ion-note> 2d ago </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>
